@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.nav {
  background-color: #fff;
  box-shadow: none;
  color:#5f6368;
}
.docs-container {
  text-align: center;
  /* background-color: #dadce0; */
}
.edit-container {
  padding: 0 50px;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #1d9bf0;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.add-input {
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #1d9bf0;
  border-radius: 9px;
  padding: 10px;
}
.button-container {
  text-align: center;
  margin: 30px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}
.grid-child {
  padding: 20px auto;
  background-color: #1d9bf0;
  width: 300px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
