@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.docs-container {
  text-align: center;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #1d9bf0;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}
